.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-card {
    width: 300px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    
  }
  
  .full-width {
    width: 100%;
  }

  @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";




  mat-card-title {
    color: #000000;
    margin-bottom: 10px;
  }